section {
    width: 80%;
    height: 800px;
    /* background-image: url("d.jpg");
    background-size: cover;*/
    background: center/40% no-repeat url("d.jpg"), blueviolet;
    margin: 0 auto;
}

h1 {
    font-size: 100px;
    color: white;
}