img {
    width: 29%;
    height: 300px;
    margin: calc(10%/6);
}

nav {
    text-transform: uppercase;
    border-bottom: 2px solid whitesmoke;
    width: 30%;
    margin: calc(10%/6);
    padding: 20px 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: large;
}